@font-face {
	font-family: 'Excon-Regular';
	src: url('../fonts/Excon-Regular.otf.eot?-kwf309');
	src: url('../fonts/Excon-Regular.otf.eot?#iefix-kwf309') format('embedded-opentype'),
		url('../fonts/Excon-Regular.otf?-kwf309') format('woff'),
		url('../fonts/Excon-Regular.otf?-kwf309') format('truetype'),
		url('../fonts/Excon-Regular.svg?-kwf309#AA-Arial') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Excon-Black';
	src: url('../fonts/Excon-Black.otf.eot?-kwf309');
	src: url('../fonts/Excon-Black.otf.eot?#iefix-kwf309') format('embedded-opentype'),
		url('../fonts/Excon-Black.otf?-kwf309') format('woff'),
		url('../fonts/Excon-Black.otf?-kwf309') format('truetype'),
		url('../fonts/Excon-Regular.svg?-kwf309#AA-Arial') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Excon-Medium';
	src: url('../fonts/Excon-Medium.otf.eot?-kwf309');
	src: url('../fonts/Excon-Medium.otf.eot?#iefix-kwf309') format('embedded-opentype'),
		url('../fonts/Excon-Medium.otf?-kwf309') format('woff'), url('../fonts/Excon-Medium?-kwf309') format('truetype'),
		url('../fonts/Excon-Medium.svg?-kwf309#AA-Arial') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Excon-Bold';
	src: url('../fonts/Excon-Bold.otf.eot?-kwf309');
	src: url('../fonts/Excon-Bold.otf.eot?#iefix-kwf309') format('embedded-opentype'),
		url('../fonts/Excon-Bold.otf?-kwf309') format('woff'), url('../fonts/Excon-Medium?-kwf309') format('truetype'),
		url('../fonts/Excon-Medium.svg?-kwf309#AA-Arial') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

.background-sticky {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.background-sticky img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	font-size: 16px;
	background: #000;
	font-family: 'Excon-Regular';
	margin: 0;
}

a {
	color: #fff;
}
a:hover {
	color: #fff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	position: relative;
}

.items_center {
	align-items: center;
}

.between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.justify_center {
	justify-content: center;
}

.flex_wrap {
	flex-wrap: wrap;
}

/* :before {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../img/) 0 0 no-repeat;
} */

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 24px;
}

button {
	border: none;
	background: none;
	box-shadow: unset;
	cursor: pointer;
}

button:focus {
	outline: none;
	box-shadow: unset;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	padding: 64px 0 0 0;
	margin: 0 0 190px 0;
}

.head {
	padding: 0 0 140px 0;
}

.link {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	text-decoration: none;
	border-radius: 76px;
	padding: 18px 32px 18px 32px;
	background: linear-gradient(274deg, #c363ff -0.05%, #ffa414 100%);
	box-shadow: 0px 20px 32px -12px rgba(149, 18, 0, 0.16);
	font-family: 'Excon-Bold';
}

.link:hover {
	background: linear-gradient(274deg, #b03ff6 -0.05%, #ffc260 100%);
	transition: 0.12s;
}

.logo {
}

.menu__top {
}

.menu__top li {
	padding: 0 28px;
}

.menu__top li a {
	font-size: 20px;
	font-style: normal;
	font-family: 'Excon-Bold';
	line-height: 28px;
	text-decoration: none;
}

.menu__top li a:hover {
}

.about {
	padding: 180px 0 240px 0;
}

.about__block {
	width: 50%;
}

.about__block2 {
	width: 50%;
}

.work__block {
	width: 50%;
}

.work__block2 {
	width: 50%;
}

h1 {
	position: relative;
	color: #fff;
	text-shadow: 0px 3px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px rgba(195, 120, 141, 0.32);
	font-size: 64px;
	font-style: normal;
	line-height: 120%;
	text-transform: uppercase;
	font-family: 'Excon-Black';
	margin: 0 0 40px 0;
}

h1 img {
	display: block;
	margin: 0 0 0 24px;
}

h2 {
	color: #fff;
	text-shadow: 0px 3px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px rgba(195, 120, 141, 0.32);
	font-size: 64px;
	font-style: normal;
	line-height: 120%;
	text-transform: uppercase;
	margin: 0 0 40px 0;
	font-family: 'Excon-Black';
}

.about__body {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.slogan_top {
	margin: 0 0 40px 0;
}

.head__link_wrap {
	margin: 40px 0 0 0;
}

.link__more {
	border-radius: 76px;
	border: 1px solid #fff;
	box-shadow: 0px 20px 32px -12px rgba(149, 18, 0, 0.16);
	padding: 18px 42px 18px 42px;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
	margin: 0 0 0 16px;
	text-decoration: none;
	font-family: 'Excon-Bold';
}

.link__more:hover {
	background: #fff;
	color: #000;
	transition: 0.12s;
}

.head__link_wrap .link img {
	margin: 0 0 0 15px;
}

.header__item {
}

.header__item {
	overflow: hidden;
	position: relative;
}

.header__item:hover .item-visible {
	top: -30px;
	transition: 0.3s all;
}

.header__item:hover .item-hidden {
	top: 0;
}

.header__item a {
	position: relative;
	top: 0;
	z-index: 2;
	display: inline-block;
	font-size: 20px;
	line-height: 1.12;
	transition: 0.3s all;
	font-size: 20px;
	line-height: 15px;
	text-decoration: none;
	font-family: 'Excon-Bold';
	margin: 0 0 0px 0;
}

.header__item a.active {
	color: #fff;
	background: #000;
	margin: 0 0 5px 0;
}

.header__item .item-hidden {
	position: absolute;
	top: 100%;
	z-index: 1;
	display: block;
}

.header__item {
	overflow: hidden;
	margin: 0 0px -4px 0;
	display: block;
}

.soc__bl a img {
	width: 32px;
	height: 32px;
}

.soc__bl a {
	width: 64px;
	height: 64px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.soc__bl a:first-child {
	margin-right: 10px;
}

.soc__bl a {
	width: 64px;
	height: 64px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.soc__bl a:first-child {
	margin-right: 10px;
}

.soc__bl a:hover {
	opacity: 0.9;
	transition: 0.3s;
}

.link__wrap {
	margin: 0 0 0 10px;
}

/* bottom */

h3 {
	text-align: center;
	font-size: 64px;
	font-family: 'Excon-Black';
	margin-bottom: 40px;
	margin-top: 0;
}

.soc__bl a img {
	width: 32px;
	height: 32px;
}

.soc__bl a {
	width: 64px;
	height: 64px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.soc__bl a:first-child {
	margin-right: 10px;
}

.soc__bl a {
	width: 64px;
	height: 64px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.soc__bl a:first-child {
	margin-right: 10px;
}

a.mail__is {
	text-decoration: none;
	width: 100%;
	text-align: center;
	display: inline-block;
	line-height: 150%;
	margin-bottom: 4px;
}

.copm__bl {
	font-family: 'Excon-Regular';
	font-size: 16px;
	font-style: normal;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.cong__bl {
	display: block;
	padding: 41px 0px 40px 0px;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 24px;
	border: 2px solid #fff;
	background: linear-gradient(265deg, #f0f0f0 0%, #fff 50%, #f0f0f0 100%);
	box-shadow: 0px 3px 0px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px 0px rgba(195, 120, 141, 0.32);
}

.cong__img {
	margin-bottom: 40px;
	text-align: center;
}

.cong__tit {
	font-family: 'Excon-Regular';
	color: #000;
	text-align: center;
	font-size: 16px;
}

.cong__bs {
	padding: 0px 15px;
	width: 16.666667%;
}

section.cong__is {
	margin-bottom: 120px;
}

.foot__wrpa {
	padding: 46px 0;
}

.slid__wrpa {
	display: flex;
}

.form__total {
	width: 100%;
	border-radius: 24px;
	border: 2px solid #fff;
	background: linear-gradient(265deg, #f0f0f0 0%, #fff 50%, #f0f0f0 100%);

	/* Box-a */
	box-shadow: 0px 3px 0px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px 0px rgba(195, 120, 141, 0.32);
	color: #000;
	padding: 40px;
	align-items: baseline;
	margin-bottom: 24px;
}

.form__bl {
	padding: 40px;
	border-radius: 24px;
	border: 2px solid #fff;
	background: linear-gradient(265deg, #f0f0f0 0%, #fff 50%, #f0f0f0 100%);
	box-shadow: 0px 3px 0px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px 0px rgba(195, 120, 141, 0.32);
	font-size: 32px;
	font-style: normal;
	color: #000;
	font-family: 'Excon-Black';
	text-align: center;
}

.form__bl:last-child {
}

.form__in {
	margin: 0 -15px 24px;
}

.form__bl:last-child {
}

form.form__wrpap {
	width: 985px;
	margin: 0 auto;
	justify-content: center;
}

.form___tit {
	font-family: 'Excon-Black';
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%;
	margin-right: 16px;
}

.form__bord {
	border-bottom: 2px dashed;
	margin-right: 16px;
	flex: 1;
}

.form__prise {
	color: #000;
	text-align: right;
	font-size: 32px;
	font-style: normal;
	line-height: 120%;
	font-family: 'Excon-Medium';
}

.tocen__address__bl {
	border-radius: 24px;
	background: linear-gradient(272deg, #c363ff -0.05%, #ffa414 100%);
	box-shadow: 0px 3px 0px 0px rgba(25, 0, 0, 0.6), 0px 3px 4px 0px rgba(195, 120, 141, 0.32);
	padding: 40px;
	width: 100%;
	justify-content: space-between;
}

.tocen__tit {
	font-family: 'Excon-Black';
	font-size: 32px;
	font-style: normal;
	line-height: 120%;
	margin-bottom: 10px;
}

.tocen__text {
	font-size: 20px;
	line-height: 150%;
}

button.but__tocen {
	border-radius: 76px;
	background: #000;
	color: #fff;
	box-shadow: 0px 20px 32px -12px rgba(149, 18, 0, 0.16);
	padding: 24px 40px;
	font-family: Excon-Bold;
	display: flex;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
}

button.but__tocen span {
	margin-left: 12px;
	display: inline-block;
	width: 24px;
	height: 24px;
}

button.but__tocen:hover {
	opacity: 0.7;
	transition: 0.6s;
}

.foot__wrpa.flex.flex_wrap.between {
	align-items: center;
}

.copm__bl.mob {
	display: none;
}

.tocen__text br {
	display: none;
}

.comg__wrap {
	margin: 0 -15px;
}

.form__is {
	width: 33.3333%;
	padding: 0px 12px;
}

.head__link_wrap {
}

.head__link_wrap a:hover img {
	transform: rotate(45deg);
	transition: 0.12s;
}

/*BURGER*/

.mt-munu-mb {
	padding: 0 0 0 0;
}

.burger {
	position: relative;
	top: 0;
	right: 0;
	display: none !important;
	cursor: pointer;
	padding: 12px 12px 8px 12px;
	z-index: 12;
	display: flex;
	border-radius: 76px;
	background: rgba(255, 255, 255, 0.24);
	box-shadow: 0px 20px 32px -12px rgba(149, 18, 0, 0.16);
	margin: 0 0 0 10px;
}
.burger i:nth-of-type(1) {
	display: block;
}
.burger i:nth-of-type(2) {
	display: none;
}
.burger.burger-open {
	color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
	display: none;
}
.burger.burger-open i:nth-of-type(2) {
	display: block;
}

.body-open {
	overflow: auto;
}

.mt-mobile {
	position: absolute;
	top: 0;
	z-index: 11;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
	padding: 45px 23px 27px 23px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, #000 100%);
	backdrop-filter: blur(12px);
	transition: 0.5s ease all;
	clip-path: circle(100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-mobile.nav-open {
	clip-path: circle(0px at 100% 0px);
}

.header-navigation {
	overflow: auto;
}

.burger {
	display: none !important;
}

.mt-munu-mb .header-navigation-wr {
	display: block !important;
}
